.slider-bottom {
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: $size;
    height: $size;
    width: calc(75% - #{$size});
    display: flex;
    align-items: center;

    @media only screen and (max-width: 768px) {
        left: $size-sm;
        height: $size-sm;
        width: 100%;
    }
}

.slider-share {
    flex: 0 1 auto;
}

.slider-share__items {
    position: relative;
    display: flex;
}

.slider-share__item {
    width: $size;
    height: $size;
    background-color: $dark;
    border: none;
    border-right: 1px solid rgba($color: #fff, $alpha: $border-opacity);

    @media only screen and (max-width: 768px) {
        width: $size-sm;
        height: $size-sm;
    }
    
    &:last-child {
        border: none;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -3px;
            width: 3px;
            height: 100%;
            background-color: $accent;
        }
    }
}

.slider-pagination {
    position: relative;
    flex: 0 0 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: #fff;
    opacity: 1;
    margin: 0 7.5px;
}

.swiper-pagination-bullet-active {
    position: relative;
    background-color: $accent;

    &::before {
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid $accent;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: animation-pagination-bullet-active 0.25s ease-out;
    }
}


.slider-scrollbar {
    flex: 1 0 0;
    cursor: pointer;

    .swiper-scrollbar {
        height: 1px;
        background-color: rgba($color: #fff, $alpha: 0.2);
    }

    .swiper-scrollbar-drag {
        height: 3px;
        background-color: $accent;
        top: -1px;
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
}


.slider-navigation {
    flex: 0 0 140px;
    position: relative;
    left: 10px;

    .slider-navigation__container {
        width: 69px;
        position: relative;
        margin: auto;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 32px;
        height: 32px;
        background-color: #3c3c3c;
        border-radius: 50%;
        border: 2px solid $accent;
        transform: translateY(-50%);
        margin-top: 0;

        &::after {
            font-size: 10px;
            color: $accent;
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-disabled {
        opacity: 1;
        border-color: #8a8a8a;

        &::after {
            color: #8a8a8a;
        }
    }

    @media only screen and (max-width: 768px) {
      left: -20px;
    }   
}